
<footer class="bg-dark text-light py-4 border-top border-body">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>MyWebsite</h5>
        <p>Making the web a better place, one site at a time.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-light">Home</a></li>
          <li><a href="#" class="text-decoration-none text-light">About</a></li>
          <li><a href="#" class="text-decoration-none text-light">Services</a></li>
          <li><a href="#" class="text-decoration-none text-light">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <a href="#" class="text-light me-2">Facebook</a>
        <a href="#" class="text-light me-2">Twitter</a>
        <a href="#" class="text-light">Instagram</a>
      </div>
    </div>
    <div class="text-center mt-3">
      <small>&copy; 2025 MyWebsite. All rights reserved.</small>
    </div>
  </div>
</footer>
