<!DOCTYPE html>
<html>
  <head>
    <title>Career Opportunities in Japan!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

     <style>
       #banner{
         height:360px;
         width:100%;
         object-fit:cover;
       }
     </style>
  </head>
  <body>
    <div class="container">
    <h1 class="text-center mt-2 mb-4" >Career opportunities in Japan</h1>
    <img class="img-fluid" id="banner" src="https://68734210-4e6d-48c2-b4cd-a10d9a7a53ba-00-4uh0yvebyib3.pike.replit.dev/static/jobs.jpg">
    <h2 class="text-center mt-4">About Us</h2>
    <p class="lead">Welcome to Nihon no hatharakimasu – your friendly guide to job hunting in 日本 (Nihon). Whether you're looking for a full-time しごと (shigoto) or an internship, we connect you with real opportunities across Japan.

    We make things かんたん (kantan) with curated listings, helpful tips, and support through every step – from applying to understanding ビザ (biza) and interviews.

    Start your journey today.
    がんばって (Ganbatte)!</p>

    <h2 class="text-center">Job Openings</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitems.html' %}
        {%endfor%}
      </div>
    <div class="text-center">
    <button class="btn btn-primary btn-lg">Contact us</button>
    <p class="text-center mt-4">Copyrights @ StarkIndustries.pvt.ltd 2025</p>
    </div>
    </div>
  </body>
</html>